@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
}

.app {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
        "aside barra"
        "aside productos"
        "footer productos";
    min-height: 100vh;
}

.contenedor-aside {
    grid-area: aside;
    background-color: rgba(1, 86, 154);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-aside .titulo {
    text-align: center;
    color: white;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.contenedor-menu menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 15px;
}

/* cambiar color a links */
a:link, a:visited {
    color: white;
    text-decoration: none;
}

.footer {
    grid-area: footer;
    background-color: rgba(0, 47, 108);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    flex-direction: column;
}

.redes-sociales {
    display: flex;
    gap: 15px;
    font-size: 24px;
    margin-bottom: 15px;
}

.main-content {
    grid-area: productos;
}

.barra {
    grid-area: barra;
    width: 100%; 
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    padding: 10px 15px;
    box-sizing: border-box;
}
.filtros {
    width: 100%;
    display: flex;
    justify-content: center;
}

.filtros select {
    width: 100%;
    height: 40px;
}

.contenedor-productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card-container {
    box-sizing: border-box;
    flex: 1 0 23%;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 15px;
}

.card-container:hover {
    cursor: pointer;
}

/* estilos al primer div de .card-container */

.contenedor-productos img {
    width: 100%;
}

.contenedor-productos .btn {
    padding: 10px;
    background-color: rgba(60, 126, 178);
    color: white;
    text-align: center;
    border-radius: 10%;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

.paginacion .numero {
    font-size: 12px;
    color: rgb(51, 136, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px;
    cursor: pointer;
}

.menu-mobile {
    display: none;
}

@media (max-width: 576px) {
    .app {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "aside"
            "barra"
            "productos"
            "footer";
    }


    .aside {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 50px;
        box-sizing: border-box;
    }

    .contenedor-menu .menu {
        display: none;
    }

    .contenedor-menu .menu-mobile {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: white;
        cursor: pointer;
    }

    .card-container {
        flex: 1 0 100%;
    }

    .barra {
        padding: 10px 15px;
    }

    .footer {
        padding: 15px;
    }
}

